<h2>Search a Movie</h2>
<center>
<form action="/movies" method="POST">
    <input type="text" name="search" placeholder="title">
    <br><br>
    <input type="submit" value="Search!">
  </form>
</center>