<center>
<h2>Add a Movie to Your Watch List</h2>

<%if @errors %>
  <% @errors.each do |error| %>
  <%=error%>
  <%end%>
<%end%>


<form action="/movies" method="POST">
    <input type="text" name="search" placeholder="title">
    <br><br>
    <input type="submit" class="btn btn-success" value="Search!">
  </form>
</center>